<h1>New Invitation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.invitation_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.event_path(@conn, :show, @conn.event.id) %></span>
